In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

Using TensorFlow backend.

In [0]:
sleep = [3,1,5,5,6,10,8,6,2,2,5]
training = [3,2,10,8,12,2,3,2,12,1,8]
result = [0,0,1,1,1,0,0,0,1,0,1]

In [14]:
sleep = pd.Series(sleep)
training = pd.Series(training)
result = pd.Series(result)
df = pd.DataFrame({'sleep': sleep, 'training': training, 'result': result})
df

    sleep  training  result
0       3         3       0
1       1         2       0
2       5        10       1
3       5         8       1
4       6        12       1
5      10         2       0
6       8         3       0
7       6         2       0
8       2        12       1
9       2         1       0
10      5         8       1

In [0]:
target_column = ['result'] 
predictors = list(set(list(df.columns))-set(target_column))
df[predictors] = df[predictors]/df[predictors].max()

In [16]:
X = df[predictors].values
y = df[target_column].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=40)
print(X_train.shape); print(X_test.shape)

(8, 2)
(3, 2)

In [0]:
model = Sequential()

In [0]:
model.add(Dense(2, activation='sigmoid', input_dim=2))

In [0]:
model.add(Dense(3, activation='sigmoid'))
model.add(Dense(1, activation='sigmoid'))

In [20]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 2)                 6
_________________________________________________________________
dense_5 (Dense)              (None, 3)                 9
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 4
=================================================================
Total params: 19
Trainable params: 19
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])

In [22]:
results = model.fit(
 X_train, y_train,
 epochs= 10,
 batch_size = 100,
 validation_data = (X_test, y_test)
)

Train on 8 samples, validate on 3 samples
Epoch 1/10
8/8 [==============================] - 0s 13ms/step - loss: 0.9191 - accuracy: 0.2500 - val_loss: 0.4559 - val_accuracy: 1.0000
Epoch 2/10
8/8 [==============================] - 0s 399us/step - loss: 0.9173 - accuracy: 0.2500 - val_loss: 0.4575 - val_accuracy: 1.0000
Epoch 3/10
8/8 [==============================] - 0s 493us/step - loss: 0.9156 - accuracy: 0.2500 - val_loss: 0.4592 - val_accuracy: 1.0000
Epoch 4/10
8/8 [==============================] - 0s 415us/step - loss: 0.9138 - accuracy: 0.2500 - val_loss: 0.4607 - val_accuracy: 1.0000
Epoch 5/10
8/8 [==============================] - 0s 448us/step - loss: 0.9121 - accuracy: 0.2500 - val_loss: 0.4623 - val_accuracy: 1.0000
Epoch 6/10
8/8 [==============================] - 0s 390us/step - loss: 0.9104 - accuracy: 0.2500 - val_loss: 0.4639 - val_accuracy: 1.0000
Epoch 7/10
8/8 [==============================] - 0s 373us/step - loss: 0.9087 - accuracy: 0.2500 - val_loss: 0.4655 - val_accuracy: 1.0000
Epoch 8/10
8/8 [==============================] - 0s 407us/step - loss: 0.9070 - accuracy: 0.2500 - val_loss: 0.4672 - val_accuracy: 1.0000
Epoch 9/10
8/8 [==============================] - 0s 386us/step - loss: 0.9052 - accuracy: 0.2500 - val_loss: 0.4689 - val_accuracy: 1.0000
Epoch 10/10
8/8 [==============================] - 0s 395us/step - loss: 0.9035 - accuracy: 0.2500 - val_loss: 0.4705 - val_accuracy: 1.0000

In [23]:
print(np.mean(results.history["val_accuracy"]))

1.0